.chat-box {
    position: relative;
    width: 100%;
    max-height: 570px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chat-area::-webkit-scrollbar {
    width: 7px;       
}
  
.chat-area::-webkit-scrollbar-track {
    background-color: rgb(55 65 81);    
}
  
.chat-area::-webkit-scrollbar-thumb {
    background-color: rgb(107 114 128);
    border-radius: 5px;  
}
