.chat-box {
    position: relative;
    width: 100%;
    max-height: 570px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chat-area::-webkit-scrollbar {
    width: 7px;       
}
  
.chat-area::-webkit-scrollbar-track {
    background-color: rgb(55 65 81);    
}
  
.chat-area::-webkit-scrollbar-thumb {
    background-color: rgb(107 114 128);
    border-radius: 5px;  
}

ul.chats {
    position: relative;
    width: 100%;
    max-height: 540px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

ul.chats::-webkit-scrollbar {
    width: 7px;
}

ul.chats::-webkit-scrollbar-track {
    background: transparent;
}

ul.chats::-webkit-scrollbar-thumb {
    background-color: rgb(107 114 128);
    border-radius: 5px;
    margin: 5px;
}

ul.chats li {
    padding-top: 10px;
}

ul.chats li:first-child {
    padding-top: 5px;
}

.chat {
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.chat:hover {
    background-color: rgb(107 114 128);
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
}